@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="active">About</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="https://www.popsci.com/sites/popsci.com/files/styles/1000_1x_/public/images/2019/01/mopping-kitchen-floor.jpeg?itok=hiKCDZyG&fc=50,50" class="img-responsive">
    </div>
    <div class="col-md-6">
        <h2>Welcome to JustWork</h2>
        <p>This is a great place to get your household chores done at a decent price and for - and to give students etc. .. the opportunity for a few flexible jobs, where they themselves decide their working time, place and salary.some.</p>
    </div>
</div>


</div>